
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:06 GMT -->
<head>
    <title>Er.JinalShah Coaching classes</title>
    <!-- Meta -->
     @*@section Scripts{     @Scripts.Render("~/bundles/jquery") *@
            

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/pretty-photo/css/prettyPhoto.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    <link href="~/css/responsive.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {

            $('.phone').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 9) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }

                }
            });
        });
    </script>
</head>

<body>
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">

                        <li><a href="https://www.facebook.com/pages/Er-jinal-shah-Coaching-Classes/123651857693940"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0"><i class="fa fa-google-plus"></i></a></li>
                        
                    </ul>
                    <!--//social-icons-->

                </div>
            </div>
            <!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="@Url.Action("Index1","Home")">
                        <img id="logo" src="~/assets/images/logo.png" alt="Logo">
                    </a>
                </h1>
                <!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                      
                        <li class="divider"><a href="@Url.Action("contact_us","User")">Contact</a></li>
                        <li class="divider"><a href="@Url.Action("our_services_user","User")">Our services</a></li>
                        <li><a href="@Url.Action("log_out","User")">Log Out</a></li>

                    </ul>
                    <!--//menu-top-->
                    <br />
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today (+91)9825889888</p>
                        <p class="email"><i class="fa fa-envelope"></i>jinalshah999@gmail.com</p>
                    </div>
                    <!--//contact-->
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        </header>
        <!--//header-->

        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button id="btn" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--//nav-toggle-->
                </div>
                <!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                       <li class="nav-item"><a href="@Url.Action("Index1","Home")">Home</a></li>
                        <li class="nav-item"><a href="@Url.Action("news_list","Home")">News</a></li>
                         
                        <li class="nav-item"><a href="@Url.Action("loadview","Blog")">Blog</a></li>
                       
                         
                        

                        <li class="nav-item"><a href="@Url.Action("event_list","Home")">Events</a></li>
                         <li class="nav-item"><a href="@Url.Action("all_subjects","material")">Material</a></li>
                        
                        <li class="nav-item"><a href="@Url.Action("Index","Gallery")">Gallery</a></li>
                        
                        
                        <li class="nav-item"><a href="@Url.Action("Index","Our_work")">Our Work</a></li>
                        <li class="nav-item"><a href="@Url.Action("our_services_user","User")">Our services</a></li>

                         <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("Index","Question")">Q & A <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("addque_load","Question")">Add Question</a></li>
                                <li><a href="@Url.Action("Index","Question")">View Question</a></li>
                                </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("lab_work_view","material")">Lab Work <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("add_mat","material")">Add Lab Work</a></li>
                                <li><a href="@Url.Action("lab_work_view","material")">View Lab Work</a></li>
                                </ul>
                        </li>

                      <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">My Profile<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                  <li><a href="@Url.Action("vew_profile","User")">View Profile</a></li>
                                <li><a href="@Url.Action("edit_profile","User")">Edit Profile</a></li>
                                <li><a href="@Url.Action("chng_pwd","User")">Change Password</a></li>
                            </ul>
                            </li>
                          <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("why_us_user","User")">Why Us<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                  <li><a href="@Url.Action("why_us_user","User")">Why Us</a></li>
                                  <li><a href="@Url.Action("about_us","User")">About Us</a></li>
                                  <li><a href="@Url.Action("contact_us","User")">Contact Us</a></li>
                                  <li><a href="@Url.Action("follow_us_user","User")">Find Us On</a></li> 
                                 <li><a href="@Url.Action("Reach_to_us_user","User")">Reach To Us</a></li> 
                                 <li><a href="@Url.Action("faq_view","Home")">FAQ</a></li>
                                </ul>
                            </li>
                       
                    </ul>
                    <!--//nav-->
                </div>
                <!--//navabr-collapse-->
            </div>
            <!--//container-->
        </nav>
        <!--//main-nav-->

        <!-- ******CONTENT****** -->
        <div class="content container">
            <div class="page-wrapper">
              
                <div class="page-content">
                    <div class="row page-row">
                        <div class="news-wrapper col-md-8 col-sm-7">
                            @RenderBody()
                            @RenderSection("scripts", required: false)<!--//news-item-->
                        </div>
                        <!--//news-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
                            <section class="links">
                        <h3 class="title"><span class="line">Quick Links</span></h3><br />
                                @*section-heading text-highlight*@
                        <div class="section-content">
                            <p><a href="@Url.Action("all_subjects","material")"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Material</a></p>
                            <p><a href="@Url.Action("Index","Gallery")"><i class="fa fa-caret-right" ></i>&nbsp;&nbsp;Gallery</a></p>
                            <p><a href="@Url.Action("faq_view","Home")"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;FAQ</a></p>
                            <p><a href="@Url.Action("contact_us","User")"><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Contact</a></p>
                        </div><!--//section-content-->
                    </section><!--//links-->

                            <br />
                            <section class="widget has-divider">
                                <h3 class="title">Other News</h3>

                                @{
                                    jinalshah_coaching_class.Entity_Model.Database1Entities db1 = new jinalshah_coaching_class.Entity_Model.Database1Entities();
                                    var q = from r in db1.and_news_tbl
                                            select r;
                                    List<jinalshah_coaching_class.Areas.User_data.Models.news> lst = new List<jinalshah_coaching_class.Areas.User_data.Models.news>();
                                    foreach (var data in q)
                                    {
                                        lst.Add(new jinalshah_coaching_class.Areas.User_data.Models.news() { pk_news_id = data.pk_news_id, news_title = data.news_title, news_image = data.news_image, news_desc = data.news_desc.Substring(0, 20) });
                                    }

                                   
                            }
                                
                                @for (int i = 0; i < 4;i++ )
                                {
                                   <article class="news-item row">
                                         <figure class="thumb col-md-2 col-sm-3 col-xs-3">
                                         <img alt="" src="@Url.Content(@lst[i].news_image)"/>
                                         </figure>
                                  <div class="details col-md-10 col-sm-9 col-xs-9">
                                          <h4 class="title"><a href="@Url.Action("news_list", "Home")">@lst[i].news_desc.Substring(0, 20)</a></h4>
                                 </div>

                                  </article>
                                }
                               
                                    <!--//news-item-->
                            </section>
                            <!--//widget-->
                            
                            @{
                                jinalshah_coaching_class.Entity_Model.Database1Entities db = new jinalshah_coaching_class.Entity_Model.Database1Entities();
                                var q1 = from r1 in db.and_event_tbl
                                         select r1;

                                List<jinalshah_coaching_class.Areas.User_data.Models.events> lst1 = new List<jinalshah_coaching_class.Areas.User_data.Models.events>();

                                foreach (var item in q1)
                                {
                                    lst1.Add(new jinalshah_coaching_class.Areas.User_data.Models.events() { event_date = item.event_date_.ToString(), event_name = item.event_name, event_time = item.event_time.ToString(), event_img = item.event_img, event_desc = item.event_desc, event_place = item.event_place });
                                }

                                List<jinalshah_coaching_class.Areas.User_data.Models.events> lst2 = new List<jinalshah_coaching_class.Areas.User_data.Models.events>();

                             
                                for (int i = 0; i < 4; i++)
                                {
                                    lst2.Add(new jinalshah_coaching_class.Areas.User_data.Models.events() { pk_event_id = lst1[i].pk_event_id, event_date = lst1[i].event_date.ToString(), event_name = lst1[i].event_name, event_time = lst1[i].event_time.ToString(), event_img = lst1[i].event_img, event_desc = lst1[i].event_desc, event_place = lst1[i].event_place });
                                }
                            }
                            

                            <section class="widget has-divider">
                                <h3 class="title">Upcoming Events</h3>
                                @foreach(var item in lst2){
                                <article class="events-item row page-row">
                                    <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                                         @{
                              DateTime d = Convert.ToDateTime(item.event_date);
                              int m = d.Month;
                              int d1 = d.Day;
                              string x = "";
                              switch (m)
                              {
                                  case 1:x="Jan";
                                      break;

                                  case 2: x = "Feb";
                                      break;

                                  case 3: x = "Mar";
                                      break;

                                  case 4: x = "Apr";
                                      break;

                                  case 5: x = "May";
                                      break;

                                  case 6: x = "Jun";
                                      break;

                                  case 7: x = "Jul";
                                      break;

                                  case 8: x = "Aug";
                                      break;

                                  case 9: x = "Sep";
                                      break;

                                  case 10: x = "Oct";
                                      break;

                                  case 11: x = "Nov";
                                      break;

                                  case 12: x = "Dec";
                                      break;
                              }
                                    }
                                 
                                        <p class="date-label">
                                            <span class="month">@x</span>
                                            <span class="date-number">@d1</span>
                                        </p>
                                    </div>
                                    <!--//date-label-wrapper-->
                                    <div class="details col-md-9 col-sm-8 col-xs-8">
                                        <h5 class="title"><a href="@Url.Action("event_list","Home")">@item.event_name</a></h5>
                                        <p class="time text-muted">@item.event_time<br>
                                            @item.event_place</p>
                                    </div>
                                    <!--//details-->
                                </article>
                                }
                            </section>

                            
                           @* <section class="widget">
                                <h3 class="title">Gallary</h3>
                                <ul id="flickr-photos">
                                    <li><a ><img src="~/Images1/20121226_121220.jpg" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.00.46.png" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.03.36.png" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.05.28.png" ></a></li>
                                     <li><a ><img src="~/Images1/20121226_121220.jpg" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.00.46.png" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.03.36.png" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.05.28.png" ></a></li>
                                    <li><a  ><img src="~/Images1/2013-06-14 11.05.28.png"></a></li>

                                </ul>
                                    </section>*@
                           @* <section class="widget">
                                <h3 class="title">Flickr Photo Stream</h3>
                                <ul id="flickr-photos">
                                    
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3702/14294882512_040ca056d4.jpg" title="IMG_2308"><img src="http://farm4.staticflickr.com/3702/14294882512_040ca056d4_s.jpg" alt="IMG_2308"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3814/14110199658_d1a492e661.jpg" title="IMG_2302"><img src="http://farm4.staticflickr.com/3814/14110199658_d1a492e661_s.jpg" alt="IMG_2302"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm6.staticflickr.com/5315/14110156529_2cf7c3fa63.jpg" title="IMG_2423"><img src="http://farm6.staticflickr.com/5315/14110156529_2cf7c3fa63_s.jpg" alt="IMG_2423"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3702/14294882512_040ca056d4.jpg" title="IMG_2308"><img src="http://farm4.staticflickr.com/3702/14294882512_040ca056d4_s.jpg" alt="IMG_2308"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3814/14110199658_d1a492e661.jpg" title="IMG_2302"><img src="http://farm4.staticflickr.com/3814/14110199658_d1a492e661_s.jpg" alt="IMG_2302"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854.jpg" title="IMG_2241"><img src="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854_s.jpg" alt="IMG_2241"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3814/14110199658_d1a492e661.jpg" title="IMG_2302"><img src="http://farm4.staticflickr.com/3814/14110199658_d1a492e661_s.jpg" alt="IMG_2302"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854.jpg" title="IMG_2241"><img src="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854_s.jpg" alt="IMG_2241"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3814/14110199658_d1a492e661.jpg" title="IMG_2302"><img src="http://farm4.staticflickr.com/3814/14110199658_d1a492e661_s.jpg" alt="IMG_2302"></a></li>
                                    <li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854.jpg" title="IMG_2241"><img src="http://farm4.staticflickr.com/3760/14317026573_2ae2ac1854_s.jpg" alt="IMG_2241"></a></li>
                                    </ul><!--//flickr-photos-->
                            </section>*@
                            <!--//widget-->
                        </aside>
                    </div>
                    <!--//page-row-->
                </div>
                <!--//page-content-->
            </div>
            <!--//page-->
        </div>
        <!--//content-->
    </div>
    <!--//wrapper-->

    <!-- ******FOOTER****** -->
      <footer class="footer">
        <div class="footer-content">
            <div class="container" id="divfooterresp">
                <div class="footer_new" style="margin-left:110px!important;">
                    <div class="footer-col col-md-2 col-sm-3 about">
                        <div class="footer-col-inner">
                            <h3>About</h3>
                            <ul>
                            <li><a href="@Url.Action("about_us","User")">About</a></li>
                              <li><a href="@Url.Action("contact_us","User")">Contact</a></li>
                                <li><a href="@Url.Action("why_us_user","User")">Why Us</a></li>
                                 <li><a href="@Url.Action("faq_view","Home")">FAQ</a></li>
                                 <li><a href="@Url.Action("Index","Our_work")">Our Work</a></li>
                                <li><a href="@Url.Action("our_services_user","User")">Our services</a></li>
                     
                            </ul>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <div class="footer-col col-md-3 col-sm-3 about">
                        <div class="footer-col-inner">
                          <h3>Provided Services</h3>
                        <ul>
                            <li>Windows Phone 8</li>
                            <li>Windows Metro Application</li>
                            <li>HTML5,CSS 3,JQuery,MVC</li>
                            <li>ASP.NET,PHP,JAVA</li>
                            <li>IPhone,Android</li>
                        </ul>
                        </div>
                    </div>
                        <div class="footer-col col-md-3 col-sm-6 about">
                    <div class="footer-col-inner">
                
                        <h3>Our Services</h3>
                        <ul>
                            <li>MSC(CA & IT)</li>
                            <li>BCA</li>
                            <li>Project Training</li>
                            <li>Engineering</li>
                            <li>MCA</li>
                            <li>ASP.NET</li>

                        </ul>
                    </div>
                </div>
                    <!--//foooter-col-->
                
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>Contact us</h3>
                            <div class="row">
                                <p >
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span>
                                        <span >108, Aarohi Complex</span><br>
                                        <span >Nr. Rasranjan, Vijay X Road</span><br>
                                        <span >Ahmedabad-380009.</span><br>
                                        <span>India</span>
                                    </span>
                                </p>
                                <p><i class="fa fa-phone"></i>09825889888</p>
                                <p ><i class="fa fa-envelope"></i>jinalshah@gmail.com</p>
                            </div>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                </div>
            </div>
        </div>
        <!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright 2014  ER. Jinal Shah Coaching Classes</small>
                   </div>
                <!--//row-->
            </div>
            <!--//container-->
        </div>
        <!--//bottom-bar-->
    </footer>
  
    <!--//footer-->
    <!-- *****CONFIGURE STYLE****** -->
  
    <!--//config-wrapper-->

    <!-- Javascript -->


</body>

     @Scripts.Render("~/bundles/jquery")
       
<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:07 GMT -->
</html>

