<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:06 GMT -->
<head>
    <title>Er.JinalShah Coaching classes</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/pretty-photo/css/prettyPhoto.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">

                        <li><a href="https://www.facebook.com/pages/Er-jinal-shah-Coaching-Classes/123651857693940"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0"><i class="fa fa-google-plus"></i></a></li>
                    
                    </ul>
                    <!--//social-icons-->

                </div>
            </div>
            <!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                      <a href="@Url.Action("home_visitor","Visitor_home")">
                         <img id="logo" src="~/assets/images/logo.png" alt="Logo"></a>
                </h1>
                <!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="@Url.Action("Index","Visitor_our_work")">Our Work</a></li>
                          <li class="divider"><a href="@Url.Action("view_services","Visitor_user")">Our services</a></li>
                          <li><a href="@Url.Action("contact_us","Visitor_user")">Contact</a></li>

                    </ul>
                    <!--//menu-top-->
                    <br />
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today (+91)9825889888</p>
                        <p class="email"><i class="fa fa-envelope"></i>jinalshah999@gmail.com</p>
                    </div>
                    <!--//contact-->
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        </header>
        <!--//header-->

        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button id="btn" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--//nav-toggle-->
                </div>
                <!--//navbar-header-->
          <div class="navbar-collapse collapse" id="navbar-collapse">
                     <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="@Url.Action("home_visitor","Visitor_home")">Home</a></li>
                        <li class="nav-item"><a href="@Url.Action("news_list_visitor","Visitor_home")">News</a></li>

                         <li class="nav-item"><a href="@Url.Action("loadview","Visitor_blog")">Blog</a></li>
                        <li class="nav-item"><a href="@Url.Action("Index","Visitor_question")">Question</a></li>
                        
                        <li class="nav-item"><a href="@Url.Action("event_list_visitor","Visitor_home")">Events</a></li>
                        <li class="nav-item"><a href=" @Url.Action("Index","Visitor_gallery")">Gallery</a></li>
                        
                         <li class="nav-item"><a href="@Url.Action("all_subjects_visitor","Visitor_material")">Material</a></li>
                         <li class="nav-item"><a href="@Url.Action("Index","Visitor_our_work")">Our Work</a></li>
                         
                          <li class="nav-item"><a href="@Url.Action("view_services","Visitor_user")">Our services</a></li>
                        
                          <li class="nav-item dropdown">
                               <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("why_us","Visitor_user")"> Why Us<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("why_us","Visitor_user")">Why Us</a></li>
                                 <li><a href="@Url.Action("about_us","Visitor_user")">About Us</a></li>
                                 <li><a href="@Url.Action("contact_us","Visitor_user")">Contact Us</a></li>
                                     <li><a href="@Url.Action("follow","Visitor_user")">Find Us On</a></li>
                                <li><a href="@Url.Action("Reach_to_us","Visitor_user")">Reach To Us</a></li>
                                 <li><a href="@Url.Action("faq_view_visitor","Visitor_home")">FAQ</a></li>
                                </ul>
                        </li>

                         <li class="nav-item"><a href="@Url.Action("Index","Visitor_user")">Log in</a></li>
                    </ul>
                </div><!--//navabr-collapse-->
                <!--//navabr-collapse-->
            </div>
            <!--//container-->
        </nav>
        <!--//main-nav-->

        <!-- ******CONTENT****** -->
        <div class="content container">
            <div class="page-wrapper">
                            @RenderBody()
                            @RenderSection("scripts", required: false)
                       </div>
           </div> 
    </div><!--//wrapper-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container" id="divfooterresp">
                <div class="footer_new" style="margin-left:110px!important;">
                    <div class="footer-col col-md-2 col-sm-3 about">
                        <div class="footer-col-inner">
                            <h3>About</h3>
                            <ul>
                              <li><a href="@Url.Action("about_us","Visitor_user")">About</a></li>
                              <li><a href="@Url.Action("contact_us","Visitor_user")">Contact</a></li>
                               <li><a href="@Url.Action("why_us","Visitor_user")">Why Us</a></li>
                              <li><a href="@Url.Action("faq_view_visitor","Visitor_home")">FAQ</a></li>
                             <li><a href="@Url.Action("Index","Visitor_our_work")">Our Work</a></li>
                             <li><a href="@Url.Action("view_services","Visitor_user")">Our services</a></li>


                            </ul>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <div class="footer-col col-md-3 col-sm-3 about">
                        <div class="footer-col-inner">
                          <h3>Provided Services</h3>
                        <ul>
                            <li>Windows Phone 8</li>
                            <li>Windows Metro Application</li>
                            <li>HTML5,CSS 3,JQuery,MVC</li>
                            <li>ASP.NET,PHP,JAVA</li>
                            <li>IPhone,Android</li>
                        </ul>
                        </div>
                    </div>
                        <div class="footer-col col-md-3 col-sm-6 about">
                    <div class="footer-col-inner">
                
                        <h3>Our Services</h3>
                        <ul>
                            <li>MSC(CA & IT)</li>
                            <li>BCA</li>
                            <li>Project Training</li>
                            <li>Engineering</li>
                            <li>MCA</li>
                            <li>ASP.NET</li>

                        </ul>
                    </div>
                </div>
                    <!--//foooter-col-->
                
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>Contact us</h3>
                            <div class="row">
                                <p >
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span>
                                        <span >108, Aarohi Complex</span><br>
                                        <span >Nr. Rasranjan, Vijay X Road</span><br>
                                        <span >Ahmedabad-380009.</span><br>
                                        <span>India</span>
                                    </span>
                                </p>
                                <p><i class="fa fa-phone"></i>09825889888</p>
                                <p ><i class="fa fa-envelope"></i>jinalshah@gmail.com</p>
                            </div>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                </div>
            </div>
        </div>
        <!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright 2014  ER. Jinal Shah Coaching Classes</small>
                   </div>
                <!--//row-->
            </div>
            <!--//container-->
        </div>
        <!--//bottom-bar-->
    </footer>
    <!--//footer-->

 


</body>

<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:07 GMT -->
</html>


