    @model IEnumerable<jinalshah_coaching_class.Areas.Admin.Models.news_admin>

@{
    ViewBag.Title = "news_edit_admin";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}

@*@section Scripts{*@
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome-->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Pace -->
    @*<link href="css/pace.css" rel="stylesheet">*@

    <!-- Datatable -->
    <link href="~/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Endless -->
    @*<link href="css/endless.min.css" rel="stylesheet">*@
    <link href="~/css/endless-skin.css" rel="stylesheet">
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Datatable -->
    <script src='~/js/jquery.dataTables.min.js'></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    @*<script src='js/pace.min.js'></script>*@

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    <script src="~/js/endless/endless.js"></script>

    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                }
                else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        //Select/Deselect all checkboxs in the grid

        $("#allBox").click(function () {
            if ($("#allBox").is(":checked") == true) {
                $(".box").attr("checked", $(this).attr("checked") ? true : true);
            }
            else {
                $(".box").attr("checked", $(this).attr("checked") ? true : false);
            }
        });

    </script>
    <script type="text/javascript">
        
    </script>
@*}*@

<h4>
        <a href="@Url.Action("add_news_tmp","Admin_news")">
            <i class="fa fa-plus-circle fa-lg">Add Faculty</i>

        </a>
</h4>



@using (Html.BeginForm("DeleteAll","Admin_news", FormMethod.Post))
{
    <div class="panel panel-default table-responsive">
    <div class="panel-heading">
     <b>  Faculty Details</b>
        <span class="label label-info pull-right">4 Items</span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr style="background-color:lightgray">
                    <th>
                        @Html.Label("Select")
                    </th>
                   
                    <th>
                        @Html.DisplayName("First Name")
                    </th>
                     <th>
                        @Html.DisplayName("Last Name")
                    </th>
                     <th>
                        @Html.DisplayName("Email-Id")
                    </th>
                     <th>
                        @Html.DisplayName("Degree")
                    </th>
                     <th>
                        @Html.DisplayName("Subjects")
                    </th>
                    
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                
                              <tr>
                        <td>
                            <input class="box" id="assignChkBx" name="assignChkBx" type="checkbox"  />
                        </td>
                        <td>
                             Zankhana 
                        </td>
                        <td>
                           Patel
                        </td>
                         <td>
                             zankhanapatel99@gmail.com
                         </td>
                         <td>
                            MCA
                        </td>
                         
                        <td>
                            C,C++
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "news_edit") |
            @Html.ActionLink("Delete", "news_delete")
                        </td>
                    </tr>

                <tr>
                        <td>
                            <input class="box" id="assignChkBx" name="assignChkBx" type="checkbox"  />
                        </td>
                        <td>
                             Amit  
                        </td>
                        <td>
                           Zaveri
                        </td>
                         <td>
                             amitzaveri99@gmail.com
                         </td>
                         <td>
                            BE
                        </td>
                         
                        <td>
                            Java
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "news_edit")|
            @Html.ActionLink("Delete", "news_delete")
                        </td>
                    </tr>

                <tr>
                        <td>
                            <input class="box" id="assignChkBx" name="assignChkBx" type="checkbox"  />
                        </td>
                        <td>
                             Vinod  
                        </td>
                        <td>
                           Panchal
                        </td>
                         <td>
                             vinodpanchal99@gmail.com
                         </td>
                         <td>
                            MTech
                        </td>
                         
                        <td>
                            Html,Javascript,Jquery
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "news_edit") |
            @Html.ActionLink("Delete", "news_delete")
                        </td>
                    </tr>

                 <tr>
                        <td>
                            <input class="box" id="assignChkBx" name="assignChkBx" type="checkbox"  />
                        </td>
                        <td>
                             Ami  
                        </td>
                        <td>
                           Shah
                        </td>
                         <td>
                             amishah99@gmail.com
                         </td>
                         <td>
                            MSCIT
                        </td>
                         
                        <td>
                            Php
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "news_edit") |
            @Html.ActionLink("Delete", "news_delete")
                        </td>
                    </tr>
               
            </tbody>
        </table>
    </div>
    <input type="submit" value="DeleteAll" class="btn btn-primary" />
</div>
}


