@model jinalshah_coaching_class.Areas.Admin.Models.gallery_admin

@{
    ViewBag.Title = "add_gallery_admin";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}

@section Scripts{


     @Scripts.Render("bundles/jquery")
    @Scripts.Render("bundles/jqueryval")
}


@using (Html.BeginForm("insert_img", "Admin_gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    

       <div class="panel panel-default">
               <div class="panel-heading">
                     <h4 class="panel-title"><i>Add Gallery</i></h4>
               </div>
              <div class="panel-body">
                                    
                            <div class="form-group">
								<label for="name">Select Album</label>
								        @Html.DropDownListFor(model=>model.album_name,new SelectList(ViewBag.allalbum))
                                @Html.ValidationMessageFor(model=>model.album_name)
								</div><!-- /form-group -->		

                                <div class="form-group">
                                    <label for="name">Gallery Image</label>
                                   <input  type="file" name="fileuploadDemo"  id="fileupld" class="form-control input-sm" />
                                </div><!--//form-group-->
                        <span id="spn" style="color:red"></span> 
                                 <div class="form-group">
								<label for="name">Caption</label>
						      <input type="text" id="caption" name="caption" class="form-control input-sm" />
							  </div><!-- /form-group -->
							  
                               <div class="form-group">
								<label for="name">Location</label>
						        <input type="text" id="loc" name="loc" class="form-control input-sm" />
							  </div><!-- /form-group -->   	
					
                                <hr />
                                 <div class="controls text-left">
                                       <h3><i class="fa fa-upload " style="color:#6091ba">
                                         <input type="submit" value="Add" class="btn btn-theme"  name="submit" />
                                        </i></h3>
                                </div>
    </div>
                                    </div>
    
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#sub").click(function () {
           
            if ($("#fileupld").val() == "") {
                $("#spn").html("Please Add Image");
            }

            return false;
        });
     
});
</script>