@model jinalshah_coaching_class.Areas.User_data.Models.user
@{
    ViewBag.Title = "change_password";
    Layout = "~/Areas/User_data/Views/Shared/_master1.cshtml";
}

@section Scripts{
     @Scripts.Render("bundles/jquery")
    @Scripts.Render("bundles/jqueryval")
}


 <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Endless -->
	@*<link href="css/endless.min.css" rel="stylesheet">*@

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Jquery -->
	<script src="js/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
   
	<!-- Modernizr -->
	<script src='js/modernizr.min.js'></script>
   
    <!-- Pace -->
	<script src='js/pace.min.js'></script>
   
    <!-- Popup Overlay -->
	<script src='js/jquery.popupoverlay.min.js'></script>
   
    <!-- Slimscroll -->
	<script src='js/jquery.slimscroll.min.js'></script>
   
	<!-- Cookie -->
	<script src='js/jquery.cookie.min.js'></script>

	<!-- Endless -->
	@*<script src="js/endless/endless.js"></script>*@

@using (Html.BeginForm("Password_change", "User", FormMethod.Post))
{


<div class="login-wrapper">
		
		<div class="login-widget animation-delay1">	
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="pull-left">
						 Change Password
					</div>

				</div>
				<div class="panel-body">
					<form class="form-login">
						<div class="form-group">
						
						    <span style="color:blue">amitatrivedi12@gmail.com</span>
						</div>
						
                        <span style="color:red" id="spnmsg">@ViewBag.pwd</span>
                        <div class="form-group">
							<label>New Password</label>
							<input type="password" required placeholder="Password" name="new_pwd" class="form-control input-sm">
						</div>
                        <div class="form-group">
							<label>Confirm Password</label>
							<input type="password" required placeholder="Password" name="cnfrm" class="form-control input-sm">
						</div>
                        <span style="color:red">@ViewBag.msg</span>
                        <hr/>

						 <div class="controls text-right">
                                      <h3>
                                        <button type="submit" class="btn btn-theme">Change</button>
                                        </h3>
                        
                        </div>
                        <span style="color:red" id="spnmsg1">@ViewBag.success</span>
					</form>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->

}