@model PagedList.IPagedList<jinalshah_coaching_class.Areas.User_data.Models.testimonial>
@using PagedList
@using PagedList.Mvc



@{
    ViewBag.Title = "testi_view_add";
    Layout = "~/Areas/User_data/Views/Shared/_master1.cshtml";
}

@section Scripts{
     @Scripts.Render("bundles/jquery")
    @Scripts.Render("bundles/jqueryval")
}
  
                               
								<h4 class="headline">
									Testimonials (4)
									<span class="line"></span>
								</h4>
                               
                      
                    <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                   
                                    <img class="img-responsive" src="~/Images/images11.jpg" alt="" />
                                   
                                </figure>
                                     <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title" style="color:#6091BA">Amita Trivedi</h3>
                                    <p>It leads me to learn a lot more above my expectations.</p>
                                    
                                    
                                </div>
                                
                            </article><!--//news-item-->

       <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                   
                                    <img class="img-responsive" src="~/Images/images12.jpg" alt="" />
                                   
                                </figure>
                                     <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title" style="color:#6091BA">Kushal Mehta</h3>
                                    <p>A helping hand of IT students.</p>
                                    
                                    
                                </div>
                                
                            </article><!--//news-item-->

       <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                   
                                    <img class="img-responsive" src="~/Images/images14.jpg" alt="" />
                                   
                                </figure>
                                     <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title" style="color:#6091BA">Anisha Shah</h3>
                                    <p>A helpful way to explore knowledge.</p>
                                    
                                    
                                </div>
                                
                            </article><!--//news-item-->

       <article class="news-item page-row has-divider clearfix row">       
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                   
                                    <img class="img-responsive" src="~/Images/images16.jpg" alt="" />
                                   
                                </figure>
                                     <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title" style="color:#6091BA">Bhushan Patel</h3>
                                    <p>It is a good website that makes us realize where we exactly stand in terns of the knownledge in it field.</p>
                                    
                                    
                                </div>
                                
                            </article><!--//news-item-->

<div>
                     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                     @Html.PagedListPager(Model, Page_No => Url.Action("testi_view_add",
                    new { Page_No }))

</div>

                
                                @using (Html.BeginForm("add_tasty", "User", FormMethod.Post))
                                 {
	
								<h4 class="headline">
									Write something About us
									<span class="line"></span>
								</h4>
								<form>
									<textarea class="form-control" required placeholder="Enter your text..." rows="10" name="desc"></textarea>
									<div class="seperator"></div>
									<div class="text-right m-bottom-md">
                                        <h3>
										<button class="btn btn-theme" type="submit">Post</button></h3>
									</div>
								</form>
                                }