@{
    ViewBag.Title = "why_us_user";
}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:06 GMT -->
<head>
    <title>Er.JinalShah Coaching classes</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/pretty-photo/css/prettyPhoto.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>


    <!-- Bootstrap Core CSS -->
		<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Customizable CSS -->
		<link href="~/assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="~/assets/css/green.css" rel="stylesheet" title="Color">
		<link href="~/assets/css/owl.carousel.css" rel="stylesheet">
		<link href="~/assets/css/owl.transitions.css" rel="stylesheet">
		<link href="~/assets/css/animate.min.css" rel="stylesheet">
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
		
		<!-- Icons/Glyphs -->
		<link href="~/assets/fonts/fontello.css" rel="stylesheet">
		
		<!-- Favicon -->
		@*<link rel="shortcut icon" href="assets/images/favicon.ico">*@
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="~/assets/js/jquery.min.js"></script>
		<script src="~/assets/js/jquery.easing.1.3.min.js"></script>
		<script src="~/assets/js/bootstrap.min.js"></script>
		<script src="~/assets/js/bootstrap-hover-dropdown.min.js"></script>
		<script src="~/assets/js/skrollr.min.js"></script>
		<script src="~/assets/js/skrollr.stylesheets.min.js"></script>
		<script src="~/assets/js/waypoints.min.js"></script>
		<script src="~/assets/js/waypoints-sticky.min.js"></script>
		<script src="~/assets/js/owl.carousel.min.js"></script>
		<script src="~/assets/js/jquery.isotope.min.js"></script>
		<script src="~/assets/js/jquery.easytabs.min.js"></script>
		<script src="~/assets/js/jquery.slickforms.js"></script>
		<script src="~/assets/js/google.maps.api.v3.js"></script>
		<script src="~/assets/js/viewport-units-buggyfill.js"></script>
		<script src="~/assets/js/scripts.js"></script>
		
		<!-- For demo purposes – can be removed on production -->
		<link href="~/assets/css/green.css" rel="alternate stylesheet" title="Green color">
		<link href="~/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
		<link href="~/assets/css/red.css" rel="alternate stylesheet" title="Red color">
		<link href="~/assets/css/pink.css" rel="alternate stylesheet" title="Pink color">
		<link href="~/assets/css/purple.css" rel="alternate stylesheet" title="Purple color">
		<link href="~/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
		<link href="~/assets/css/navy.css" rel="alternate stylesheet" title="Navy color">
		<link href="~/assets/css/gray.css" rel="alternate stylesheet" title="Gray color">
		
		<script src="~/switchstylesheet/switchstylesheet.js"></script>
		
		<script>
		    $(document).ready(function () {
		        $(".changecolor").switchstylesheet({ seperator: "color" });
		    });
		</script>
    <style type="text/css">
        @@media only screen and (min-width:320px) and (max-width:480px) {
            #tp {
                background-color:#6091BA;
                padding-top:0px;
             }
            #tp2 {
                margin-bottom:-19px;
            }
     }
        @@media only screen and (min-width:768px) and (max-width:1024px) {
        #tp2 {
            display:none;
        }
        }
    </style>
			
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">

                        <li><a href="https://www.facebook.com/pages/Er-jinal-shah-Coaching-Classes/123651857693940"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0"><i class="fa fa-google-plus"></i></a></li>
                       
                    </ul>
                    <!--//social-icons-->

                </div>
            </div>
            <!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="@Url.Action("Index1","Home")">
                        <img id="logo" src="~/assets/images/logo.png" alt="Logo"></a>
                </h1>
                <!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                          <li class="divider"><a href="@Url.Action("contact_us","User")">Contact</a></li>
                         <li class="divider"><a href="@Url.Action("our_services_user","User")">Our services</a></li>
                        <li><a href="@Url.Action("log_out","User")">Log Out</a></li>

                    </ul>
                    <!--//menu-top-->
                    <br />
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today (+91)9825889888</p>
                        <p class="email"><i class="fa fa-envelope"></i>jinalshah999@gmail.com</p>
                    </div>
                    <!--//contact-->
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        </header>
        <!--//header-->

        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div>
                <div id="tp" class="navbar-header">
                    <button id="tp2" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--//nav-toggle-->
                </div>
                <!--//navbar-header-->
                          <div class="navbar-collapse collapse" id="navbar-collapse">
                      <ul class="nav navbar-nav" style="background-color:#6091BA">
                       <li class="nav-item"><a href="@Url.Action("Index1","Home")">Home</a></li>
                        <li class="nav-item"><a href="@Url.Action("news_list","Home")">News</a></li>

                                <li class="nav-item"><a href="@Url.Action("loadview","Blog")">Blog</a></li>
                        

                    
                        <li class="nav-item"><a href="@Url.Action("event_list","Home")">Events</a></li>
                         <li class="nav-item"><a href="@Url.Action("all_subjects","material")">Material</a></li>
                        
                        <li class="nav-item"><a href="@Url.Action("Index","Gallery")">Gallery</a></li>
                        
                        
                        <li class="nav-item"><a href="@Url.Action("Index","Our_work")">Our Work</a></li>
                        <li class="nav-item"><a href="@Url.Action("our_services_user","User")">Our services</a></li>
                    
                               <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("Index","Question")">Q & A <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("addque_load","Question")">Add Question</a></li>
                                <li><a href="@Url.Action("Index","Question")">View Question</a></li>
                                </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("lab_work_view","material")">Lab Work <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("add_mat","material")">Add Lab Work</a></li>
                                <li><a href="@Url.Action("lab_work_view","material")">View Lab Work</a></li>
                                </ul>
                        </li>
   
                          <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">My Profile<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                  <li><a href="@Url.Action("vew_profile","User")">View Profile</a></li>
                                <li><a href="@Url.Action("edit_profile","User")">Edit Profile</a></li>
                                <li><a href="@Url.Action("chng_pwd","User")">Change Password</a></li>
                            </ul>
                            </li>
                          <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="@Url.Action("why_us_user","User")">Why Us<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("why_us_user","User")">Why Us</a></li>
                                  <li><a href="@Url.Action("about_us","User")">About Us</a></li>
                                  <li><a href="@Url.Action("contact_us","User")">Contact Us</a></li>
                                   <li><a href="@Url.Action("follow_us_user","User")">Find Us On</a></li>
                                <li><a href="@Url.Action("Reach_to_us_user","User")">Reach To Us</a></li> 
                                 <li><a href="@Url.Action("faq_view","Home")">FAQ</a></li>
                                </ul>
                            </li>
                        
                    </ul>
                    <!--//nav-->
                </div>
                <!--//navabr-collapse-->
            </div>
            <!--//container-->
        </nav>
        <!--//main-nav-->

        <!-- ******CONTENT****** -->
        <div>

            	<section id="reasons">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1 style="color:#6091BA">5 Reasons <br>Why you should Join Us</h1>
								<p></p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm">
						<div class="col-xs-12">
							<div class="tabs tabs-reasons tabs-circle-top tab-container">
								
								<ul class="etabs text-center">
								
									<li class="tab"><a href="#tab-1"><div>1</div>Simplicity</a></li>
									<li class="tab"><a href="#tab-2"><div>2</div>Ambience</a></li>
									<li class="tab"><a href="#tab-3"><div>3</div>Technology</a></li>
									<li class="tab"><a href="#tab-4"><div>4</div>Innovation</a></li>
                                     <li class="tab"><a href="#tab-5"><div>5</div>Expertise</a></li>
								</ul><!-- /.etabs -->
								
								<div class="panel-container">
									
									<div class="tab-content" id="tab-1">
										<div class="row">
											
											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><img src="~/assets/images/art/Effectiveness_vs_Simplicity.jpg" alt=""></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3 style="color:#6091BA">Simplicity</h3>
												<p style="font-size:15px">One-to-one regular interactions and feedback sessions with our expert mentors’ offers simplicity and hand-holding for career guidance.</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-2">
										<div class="row">
											
											<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
												<figure><img src="~/assets/images/art/images.jpg" alt=""></figure>
											</div><!-- /.col -->
											
											<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
												<h3 style="color:#6091BA">Ambience</h3>
												<p style="font-size:15px">We provide the best appropriate ambience that makes the students comfortable and also maintains a proper standard for studies.</p>
											</div><!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-3">
										<div class="row">
											
											<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
												<figure><img src="~/assets/images/art/product04.jpg" alt=""></figure>
											</div><!-- /.col -->
											
											<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
												<h3 style="color:#6091BA">Technology</h3>
												<p style="font-size:15px">Technology is a vast field which is constantly dynamic. We introduce the students with the latest technological aspects of the IT world.</p>
											</div><!-- /.col -->
											
											@*<div class="col-md-3 col-sm-6 inner-top-xs">
												
											</div>*@<!-- /.col -->
											
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-4">
										
										<div class="row">
											<div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
												<figure><img src="~/assets/images/art/innovation-technology.jpg" alt=""></figure>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-8 center-block text-center inner-top-xs">
												<h3 style="color:#6091BA">Innovation</h3>
												<p style="font-size:15px">We guide the students in such a way that their innovative skills are developed and they can evolve in their own way in this field.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
									</div><!-- /.tab-content -->
									
									<div class="tab-content" id="tab-5">
                                        <div class="row">
											
											<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
												<figure><img  src="~/assets/images/art/rsz_thoughts_transfer-300x286.jpg" alt=""></figure>
											</div><!-- /.col -->
										
										
											 <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
												<h3 style="color:#6091BA">Expertise</h3>
												<p style="font-size:15px">With expert faculty especially equipped to impart good technological guidance, you can rest assured that you will excel in the IT field.</p>
											</div><!-- /.col -->
										</div><!-- /.row -->
									</div><!-- /.tab-content -->
									 
								</div><!-- /.panel-container -->
								 
							</div><!-- /.tabs -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – REASONS : END ============================================================= -->
		
        </div>
 </div>
    <!-----wrapper end-->

    <!-- ******FOOTER****** -->
        <footer class="footer">
        <div class="footer-content">
            <div class="container" id="divfooterresp">
                <div class="footer_new" style="margin-left:110px!important;">
                    <div class="footer-col col-md-2 col-sm-3 about">
                        <div class="footer-col-inner">
                            <h3>About</h3>
                            <ul>
                            <li><a href="@Url.Action("about_us","User")">About</a></li>
                              <li><a href="@Url.Action("contact_us","User")">Contact</a></li>
                                <li><a href="@Url.Action("why_us_user","User")">Why Us</a></li>
                                 <li><a href="@Url.Action("faq_view","Home")">FAQ</a></li>
                                 <li><a href="@Url.Action("Index","Our_work")">Our Work</a></li>
                                <li><a href="@Url.Action("our_services_user","User")">Our services</a></li>
                     
                            </ul>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <div class="footer-col col-md-3 col-sm-3 about">
                        <div class="footer-col-inner">
                          <h3>Provided Services</h3>
                        <ul>
                            <li>Windows Phone 8</li>
                            <li>Windows Metro Application</li>
                            <li>HTML5,CSS 3,JQuery,MVC</li>
                            <li>ASP.NET,PHP,JAVA</li>
                            <li>IPhone,Android</li>
                        </ul>
                        </div>
                    </div>
                        <div class="footer-col col-md-3 col-sm-6 about">
                    <div class="footer-col-inner">
                
                        <h3>Our Services</h3>
                        <ul>
                            <li>MSC(CA & IT)</li>
                            <li>BCA</li>
                            <li>Project Training</li>
                            <li>Engineering</li>
                            <li>MCA</li>
                            <li>ASP.NET</li>

                        </ul>
                    </div>
                </div>
                    <!--//foooter-col-->
                
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>Contact us</h3>
                            <div class="row">
                                <p >
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span>
                                        <span >108, Aarohi Complex</span><br>
                                        <span >Nr. Rasranjan, Vijay X Road</span><br>
                                        <span >Ahmedabad-380009.</span><br>
                                        <span>India</span>
                                    </span>
                                </p>
                                <p><i class="fa fa-phone"></i>09825889888</p>
                                <p ><i class="fa fa-envelope"></i>jinalshah@gmail.com</p>
                            </div>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                </div>
            </div>
        </div>
        <!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright 2014  ER. Jinal Shah Coaching Classes</small>
                   </div>
                <!--//row-->
            </div>
            <!--//container-->
        </div>
        <!--//bottom-bar-->
    </footer>
    <!--//footer-->

  @*  <!-- *****CONFIGURE STYLE****** -->
    <div class="config-wrapper hidden-xs">
        <div class="config-wrapper-inner">
            <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>
            <div id="config-panel" class="config-panel">
                <p>Choose Colour</p>
                <ul id="color-options" class="list-unstyled list-inline">
                    <li class="default active"><a data-style="~/assets/css/styles.css" data-logo="~/assets/images/logo.png" href="#"></a></li>
                    <li class="green"><a data-style="~/assets/css/styles-green.css" data-logo="~/assets/images/logo-green.png" href="#"></a></li>
                    <li class="purple"><a data-style="~/assets/css/styles-purple.css" data-logo="~/assets/images/logo-purple.png" href="#"></a></li>
                    <li class="red"><a data-style="~/assets/css/styles-red.css" data-logo="~/assets/images/logo-red.png" href="#"></a></li>
                </ul>
                <!--//color-options-->
                <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
            </div>
            <!--//configure-panel-->
        </div>
        <!--//config-wrapper-inner-->
    </div>
    <!--//config-wrapper-->*@

    <!-- Javascript -->


</body>

<!-- Mirrored from themes.3rdwavemedia.com/college-green/news-single.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 May 2014 09:46:07 GMT -->
</html>






